body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    display: block;
    gap: 50px;
}

.box-wrapper {
    width: 60%;
    margin: 0 auto;
}

.square {
    float: right;
    /* margin: 0 auto; */
    width: 500px;
    height: 500px;
    background: rgb(2, 31, 253);
    box-shadow: 0px 16px 20px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    line-height: 400px;
}

.square a {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;

}

.circle a {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
}

.circle {
    float: left;
    /* margin: 0px auto; */
    width: 500px;
    height: 500px;
    background: rgb(243, 4, 4);
    box-shadow: 0px 16px 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 400px;


}

.box-wrapper {
    content: "";
    display: block;
    clear: both;
}